.hudBar {
    
}

.hudText {
    color: #FFF;
    font-size: 20pt;
	padding:0;
	margin:0;
    textTransform: uppercase;
}

.smallHudText {
    color: #FFF;
    font-size: 12pt;
	padding:0;
	margin:0;
    textTransform: uppercase;
}